<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>HTML Page</title>
  <link rel="stylesheet" href="./css/indx.css">
  
  <script src='./js/javascript.js' ></script>
 </head>
 <body>
  {{>header}}
  <h1>About us</h1>

  <p>Cheapflights is an award-winning flight search and travel inspiration site. We’re here to make it easy for you to find flights, bag bargains – and make travel simpler.<br><br>

At Cheapflights we’re dedicated to offering you the widest range of flight deals helping you to compare prices and features. Our ground-breaking technology enables you to search millions of flight and price options giving you a bird’s eye view; enabling you to pick the options that best meet your particular needs.
We’re not travel agents and we don’t take your money – but if you want to find flights and great deals, we’re your first port of call.<br><br>

Cheapflights is managed by KAYAK, an independent subsidiary of Booking Holdings. Originally founded back in October 1996, we have over 21 years’ experience behind us. Our heritage and straightforward approach means that millions of people around the world trust us to find the best flights, deals and package holidays – and help them to explore new horizons. So, why not join them and find your own perfect trip?</p>  
  {{>footer}}
 
  
 </body>
</html>